* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.searchBar-container {
  background-color: #3367d6;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  height: 34px;
}
.searchBox {
  background-color: #2850a7;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.searchIcon {
  height: 30px;
  width: 30px;
}
.searchInput {
  background-color: #2850a7;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 16px;
  padding-left: 15px;
  color: white;
  font-family: Roboto;
  width: 300px;
}
.list-container {
  padding: 25px;
}
.history-items {
  box-shadow: 0px 4px 16px 0px #ececec;
  padding: 20px;
  list-style-type: none;
}

.emptyList-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 576px) {
  .empty-list-para {
    font-family: Roboto;
    font-size: 17px;
    color: #475569;
  }
  .searchInput {
  background-color: #2850a7;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 16px;
  padding-left: 15px;
  color: white;
  font-family: Roboto;
  width: 170px;
}
}
@media (min-width: 768px) {
  .empty-list-para {
    font-family: Roboto;
    font-size: 25px;
    color: #475569;
  }
}
